:root {
  --c-primary: #000, --c-black: #000, --c-dark-grey: #333333,
    --c-middle-grey: #777777, --c-light-grey: #cccccc, --c-white: #ffffff,
    --c-secondary: #666666, --c-accent: #ed0f2b, --c-error: #ed0f2b,
    --c-sale: #ffce4e, --c-info: #1a32a4, --c-success: #12882c,
    --c-valid: #12882c, --c-warning: #ffa500, --c-notice: #42aaff,
    --c-alert: #ff4444;
}

@import 'abstract/reset';
@import 'abstract/all';

@import 'base/grid';
@import 'base/ratios';
@import 'base/types';
@import 'base/spacing';
@import 'base/colors';

@import 'elements/buttons';
@import 'elements/checkbox';
@import 'elements/form';
@import 'elements/list';

@import 'elements/tabs';
@import 'elements/drawer';

@import 'base/rtl';

// @import 'abstract/0debug';
