@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
select,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
main,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* Reset de arrows en inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
  --line-width: 1px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  :root {
    --line-width: 0.5px;
    --line-width-negative: -0.5px;
  }
}

button {
  padding-inline: 0;
  padding-block: 0;
}

/* prettier-ignore */
/* functional */
/* prettier-ignore */
/* prettier-ignore */
/* prettier-ignore */
/* prettier-ignore */
/* prettier-ignore */
/* prettier-ignore */
/* prettier-ignore */
/* prettier-ignore */
/* prettier-ignore */
.var-a-break-xs::after {
  display: inline-block;
  content: "break-xs";
}

.var-b-break-xs::after {
  content: "1px";
  display: inline-block;
}

.var-a-break-sm::after {
  display: inline-block;
  content: "break-sm";
}

.var-b-break-sm::after {
  content: "768px";
  display: inline-block;
}

.var-a-break-md::after {
  display: inline-block;
  content: "break-md";
}

.var-b-break-md::after {
  content: "992px";
  display: inline-block;
}

.var-a-break-lg::after {
  display: inline-block;
  content: "break-lg";
}

.var-b-break-lg::after {
  content: "1280px";
  display: inline-block;
}

.var-a-break-xl::after {
  display: inline-block;
  content: "break-xl";
}

.var-b-break-xl::after {
  content: "1440px";
  display: inline-block;
}

.var-a-min-vw::after {
  display: inline-block;
  content: "min-vw";
}

.var-b-min-vw::after {
  content: "320px";
  display: inline-block;
}

.var-a-container::after {
  display: inline-block;
  content: "container";
}

.var-b-container::after {
  content: "800px";
  display: inline-block;
}

.var-a-container-2::after {
  display: inline-block;
  content: "container-2";
}

.var-b-container-2::after {
  content: "700px";
  display: inline-block;
}

.var-a-container-3::after {
  display: inline-block;
  content: "container-3";
}

.var-b-container-3::after {
  content: "900px";
  display: inline-block;
}

.var-a-container-4::after {
  display: inline-block;
  content: "container-4";
}

.var-b-container-4::after {
  content: "360px";
  display: inline-block;
}

.var-a-font-primary::after {
  display: inline-block;
  content: "font-primary";
}

.var-b-font-primary::after {
  content: "arial, sans-serif";
  display: inline-block;
}

.var-a-font-family-secondary::after {
  display: inline-block;
  content: "font-family-secondary";
}

.var-b-font-family-secondary::after {
  content: "arial black, sans-serif";
  display: inline-block;
}

.var-a-font-primary-weight-light::after {
  display: inline-block;
  content: "font-primary-weight-light";
}

.var-b-font-primary-weight-light::after {
  content: "100";
  display: inline-block;
}

.var-a-font-primary-weight-regular::after {
  display: inline-block;
  content: "font-primary-weight-regular";
}

.var-b-font-primary-weight-regular::after {
  content: "500";
  display: inline-block;
}

.var-a-font-primary-weight-medium::after {
  display: inline-block;
  content: "font-primary-weight-medium";
}

.var-b-font-primary-weight-medium::after {
  content: "500";
  display: inline-block;
}

.var-a-font-primary-weight-bold::after {
  display: inline-block;
  content: "font-primary-weight-bold";
}

.var-b-font-primary-weight-bold::after {
  content: "900";
  display: inline-block;
}

.var-a-font-secondary-weight-light::after {
  display: inline-block;
  content: "font-secondary-weight-light";
}

.var-b-font-secondary-weight-light::after {
  content: "300";
  display: inline-block;
}

.var-a-font-secondary-weight-medium::after {
  display: inline-block;
  content: "font-secondary-weight-medium";
}

.var-b-font-secondary-weight-medium::after {
  content: "400";
  display: inline-block;
}

.var-a-xl::after {
  display: inline-block;
  content: "xl";
}

.var-b-xl::after {
  content: "1500px";
  display: inline-block;
}

.fluids .filas:nth-child(1) .item::after {
  content: "3";
}
.fluids .filas:nth-child(1) .item-1::after {
  content: "20px";
}
.fluids .filas:nth-child(1) .item-2::after {
  content: "30px";
}
.fluids .filas:nth-child(1) .item-3::after {
  content: "0.9";
}

.fluids .filas:nth-child(2) .item::after {
  content: "2";
}
.fluids .filas:nth-child(2) .item-1::after {
  content: "40px";
}
.fluids .filas:nth-child(2) .item-2::after {
  content: "100px";
}
.fluids .filas:nth-child(2) .item-3::after {
  content: "0.9";
}

.fluids .filas:nth-child(3) .item::after {
  content: "1";
}
.fluids .filas:nth-child(3) .item-1::after {
  content: "60px";
}
.fluids .filas:nth-child(3) .item-2::after {
  content: "160px";
}
.fluids .filas:nth-child(3) .item-3::after {
  content: "0.8";
}

.minheaders .filas:nth-child(1) .item::after {
  content: "p1";
}
.minheaders .filas:nth-child(1) .item-1::after {
  content: "8px";
}
.minheaders .filas:nth-child(1) .item-2::after {
  content: "10px";
}
.minheaders .filas:nth-child(1) .item-3::after {
  content: "1.3";
}
.minheaders .filas:nth-child(1) .item-4::after {
  content: "regular";
}

.minheaders .filas:nth-child(2) .item::after {
  content: "p2";
}
.minheaders .filas:nth-child(2) .item-1::after {
  content: "18px";
}
.minheaders .filas:nth-child(2) .item-2::after {
  content: "24px";
}
.minheaders .filas:nth-child(2) .item-3::after {
  content: "1.2";
}
.minheaders .filas:nth-child(2) .item-4::after {
  content: "bold";
}

.minheaders .filas:nth-child(3) .item::after {
  content: "p3";
}
.minheaders .filas:nth-child(3) .item-1::after {
  content: "12px";
}
.minheaders .filas:nth-child(3) .item-2::after {
  content: "12px";
}
.minheaders .filas:nth-child(3) .item-3::after {
  content: "1.4";
}
.minheaders .filas:nth-child(3) .item-4::after {
  content: "regular";
}

.minheaders .filas:nth-child(4) .item::after {
  content: "p4";
}
.minheaders .filas:nth-child(4) .item-1::after {
  content: "12px";
}
.minheaders .filas:nth-child(4) .item-2::after {
  content: "12px";
}
.minheaders .filas:nth-child(4) .item-3::after {
  content: "1.4";
}
.minheaders .filas:nth-child(4) .item-4::after {
  content: "light";
}

.minheaders .filas:nth-child(5) .item::after {
  content: "h1";
}
.minheaders .filas:nth-child(5) .item-1::after {
  content: "12px";
}
.minheaders .filas:nth-child(5) .item-2::after {
  content: "12px";
}
.minheaders .filas:nth-child(5) .item-3::after {
  content: "1.4";
}
.minheaders .filas:nth-child(5) .item-4::after {
  content: "medium";
}

.minheaders .filas:nth-child(6) .item::after {
  content: "h2";
}
.minheaders .filas:nth-child(6) .item-1::after {
  content: "11px";
}
.minheaders .filas:nth-child(6) .item-2::after {
  content: "11px";
}
.minheaders .filas:nth-child(6) .item-3::after {
  content: "1.4";
}
.minheaders .filas:nth-child(6) .item-4::after {
  content: "regular";
}

.minheaders .filas:nth-child(7) .item::after {
  content: "h3";
}
.minheaders .filas:nth-child(7) .item-1::after {
  content: "10px";
}
.minheaders .filas:nth-child(7) .item-2::after {
  content: "10px";
}
.minheaders .filas:nth-child(7) .item-3::after {
  content: "1.4";
}
.minheaders .filas:nth-child(7) .item-4::after {
  content: "regular";
}

.minheaders .filas:nth-child(8) .item::after {
  content: "h4";
}
.minheaders .filas:nth-child(8) .item-1::after {
  content: "12px";
}
.minheaders .filas:nth-child(8) .item-2::after {
  content: "12px";
}
.minheaders .filas:nth-child(8) .item-3::after {
  content: "1.5";
}
.minheaders .filas:nth-child(8) .item-4::after {
  content: "regular";
}

.margintop .filas:nth-child(1) .item::after {
  content: "mtr-128";
}
.margintop .filas:nth-child(1) .item-1::after {
  content: "64px";
}
.margintop .filas:nth-child(1) .item-2::after {
  content: "128px";
}
.margintop .filas:nth-child(1) .item-3::after {
  content: "128px";
}
.margintop .filas:nth-child(1) .item-4::after {
  content: "128px";
}

.marginbottom .filas:nth-child(1) .item::after {
  content: "mbr-88";
}
.marginbottom .filas:nth-child(1) .item-1::after {
  content: "16px";
}
.marginbottom .filas:nth-child(1) .item-2::after {
  content: "24px";
}
.marginbottom .filas:nth-child(1) .item-3::after {
  content: "24px";
}
.marginbottom .filas:nth-child(1) .item-4::after {
  content: "24px";
}

.marginbottom .filas:nth-child(2) .item::after {
  content: "mbr-32";
}
.marginbottom .filas:nth-child(2) .item-1::after {
  content: "16px";
}
.marginbottom .filas:nth-child(2) .item-2::after {
  content: "32px";
}
.marginbottom .filas:nth-child(2) .item-3::after {
  content: "32px";
}
.marginbottom .filas:nth-child(2) .item-4::after {
  content: "32px";
}

.marginbottom .filas:nth-child(3) .item::after {
  content: "mbr-64";
}
.marginbottom .filas:nth-child(3) .item-1::after {
  content: "32px";
}
.marginbottom .filas:nth-child(3) .item-2::after {
  content: "64px";
}
.marginbottom .filas:nth-child(3) .item-3::after {
  content: "64px";
}
.marginbottom .filas:nth-child(3) .item-4::after {
  content: "64px";
}

.marginbottom .filas:nth-child(4) .item::after {
  content: "mbr-128";
}
.marginbottom .filas:nth-child(4) .item-1::after {
  content: "64px";
}
.marginbottom .filas:nth-child(4) .item-2::after {
  content: "128px";
}
.marginbottom .filas:nth-child(4) .item-3::after {
  content: "128px";
}
.marginbottom .filas:nth-child(4) .item-4::after {
  content: "128px";
}

.marginbottom .filas:nth-child(5) .item::after {
  content: "mbr-20-40";
}
.marginbottom .filas:nth-child(5) .item-1::after {
  content: "20px";
}
.marginbottom .filas:nth-child(5) .item-2::after {
  content: "40px";
}
.marginbottom .filas:nth-child(5) .item-3::after {
  content: "40px";
}
.marginbottom .filas:nth-child(5) .item-4::after {
  content: "40px";
}

.marginbottom .filas:nth-child(6) .item::after {
  content: "mbr-16-32";
}
.marginbottom .filas:nth-child(6) .item-1::after {
  content: "16px";
}
.marginbottom .filas:nth-child(6) .item-2::after {
  content: "16px";
}
.marginbottom .filas:nth-child(6) .item-3::after {
  content: "32px";
}
.marginbottom .filas:nth-child(6) .item-4::after {
  content: "32px";
}

.marginbottom .filas:nth-child(7) .item::after {
  content: "mbr-8-24";
}
.marginbottom .filas:nth-child(7) .item-1::after {
  content: "8px";
}
.marginbottom .filas:nth-child(7) .item-2::after {
  content: "8px";
}
.marginbottom .filas:nth-child(7) .item-3::after {
  content: "24px";
}
.marginbottom .filas:nth-child(7) .item-4::after {
  content: "24px";
}

.paddingtop .filas:nth-child(1) .item::after {
  content: "ptr-120";
}
.paddingtop .filas:nth-child(1) .item-1::after {
  content: "64px";
}
.paddingtop .filas:nth-child(1) .item-2::after {
  content: "64px";
}
.paddingtop .filas:nth-child(1) .item-3::after {
  content: "120px";
}
.paddingtop .filas:nth-child(1) .item-4::after {
  content: "120px";
}

.paddingtop .filas:nth-child(2) .item::after {
  content: "ptr-128";
}
.paddingtop .filas:nth-child(2) .item-1::after {
  content: "64px";
}
.paddingtop .filas:nth-child(2) .item-2::after {
  content: "64px";
}
.paddingtop .filas:nth-child(2) .item-3::after {
  content: "128px";
}
.paddingtop .filas:nth-child(2) .item-4::after {
  content: "128px";
}

.paddingtop .filas:nth-child(3) .item::after {
  content: "ptr-160";
}
.paddingtop .filas:nth-child(3) .item-1::after {
  content: "64px";
}
.paddingtop .filas:nth-child(3) .item-2::after {
  content: "64px";
}
.paddingtop .filas:nth-child(3) .item-3::after {
  content: "160px";
}
.paddingtop .filas:nth-child(3) .item-4::after {
  content: "160px";
}

.paddingtop .filas:nth-child(4) .item::after {
  content: "ptr-136";
}
.paddingtop .filas:nth-child(4) .item-1::after {
  content: "48px";
}
.paddingtop .filas:nth-child(4) .item-2::after {
  content: "48px";
}
.paddingtop .filas:nth-child(4) .item-3::after {
  content: "136px";
}
.paddingtop .filas:nth-child(4) .item-4::after {
  content: "136px";
}

.paddingtop .filas:nth-child(5) .item::after {
  content: "ptr-20-120";
}
.paddingtop .filas:nth-child(5) .item-1::after {
  content: "20px";
}
.paddingtop .filas:nth-child(5) .item-2::after {
  content: "20px";
}
.paddingtop .filas:nth-child(5) .item-3::after {
  content: "120px";
}
.paddingtop .filas:nth-child(5) .item-4::after {
  content: "120px";
}

.paddingtop .filas:nth-child(6) .item::after {
  content: "ptr-112";
}
.paddingtop .filas:nth-child(6) .item-1::after {
  content: "80px";
}
.paddingtop .filas:nth-child(6) .item-2::after {
  content: "80px";
}
.paddingtop .filas:nth-child(6) .item-3::after {
  content: "112px";
}
.paddingtop .filas:nth-child(6) .item-4::after {
  content: "112px";
}

.paddingtop .filas:nth-child(7) .item::after {
  content: "ptr-80";
}
.paddingtop .filas:nth-child(7) .item-1::after {
  content: "48px";
}
.paddingtop .filas:nth-child(7) .item-2::after {
  content: "48px";
}
.paddingtop .filas:nth-child(7) .item-3::after {
  content: "80px";
}
.paddingtop .filas:nth-child(7) .item-4::after {
  content: "80px";
}

.paddingtop .filas:nth-child(8) .item::after {
  content: "ptr-64";
}
.paddingtop .filas:nth-child(8) .item-1::after {
  content: "32px";
}
.paddingtop .filas:nth-child(8) .item-2::after {
  content: "32px";
}
.paddingtop .filas:nth-child(8) .item-3::after {
  content: "64px";
}
.paddingtop .filas:nth-child(8) .item-4::after {
  content: "64px";
}

.paddingtop .filas:nth-child(9) .item::after {
  content: "ptr-24";
}
.paddingtop .filas:nth-child(9) .item-1::after {
  content: "16px";
}
.paddingtop .filas:nth-child(9) .item-2::after {
  content: "16px";
}
.paddingtop .filas:nth-child(9) .item-3::after {
  content: "24px";
}
.paddingtop .filas:nth-child(9) .item-4::after {
  content: "24px";
}

.paddingbottom .filas:nth-child(1) .item::after {
  content: "pbr-136";
}
.paddingbottom .filas:nth-child(1) .item-1::after {
  content: "64px";
}
.paddingbottom .filas:nth-child(1) .item-2::after {
  content: "64px";
}
.paddingbottom .filas:nth-child(1) .item-3::after {
  content: "136px";
}
.paddingbottom .filas:nth-child(1) .item-4::after {
  content: "136px";
}

.paddingbottom .filas:nth-child(2) .item::after {
  content: "pbr-128";
}
.paddingbottom .filas:nth-child(2) .item-1::after {
  content: "64px";
}
.paddingbottom .filas:nth-child(2) .item-2::after {
  content: "64px";
}
.paddingbottom .filas:nth-child(2) .item-3::after {
  content: "128px";
}
.paddingbottom .filas:nth-child(2) .item-4::after {
  content: "128px";
}

.paddingbottom .filas:nth-child(3) .item::after {
  content: "pbr-120";
}
.paddingbottom .filas:nth-child(3) .item-1::after {
  content: "64px";
}
.paddingbottom .filas:nth-child(3) .item-2::after {
  content: "64px";
}
.paddingbottom .filas:nth-child(3) .item-3::after {
  content: "120px";
}
.paddingbottom .filas:nth-child(3) .item-4::after {
  content: "120px";
}

.paddingbottom .filas:nth-child(4) .item::after {
  content: "pbr-112";
}
.paddingbottom .filas:nth-child(4) .item-1::after {
  content: "80px";
}
.paddingbottom .filas:nth-child(4) .item-2::after {
  content: "80px";
}
.paddingbottom .filas:nth-child(4) .item-3::after {
  content: "112px";
}
.paddingbottom .filas:nth-child(4) .item-4::after {
  content: "112px";
}

.paddingbottom .filas:nth-child(5) .item::after {
  content: "pbr-96";
}
.paddingbottom .filas:nth-child(5) .item-1::after {
  content: "64px";
}
.paddingbottom .filas:nth-child(5) .item-2::after {
  content: "64px";
}
.paddingbottom .filas:nth-child(5) .item-3::after {
  content: "96px";
}
.paddingbottom .filas:nth-child(5) .item-4::after {
  content: "96px";
}

.paddingbottom .filas:nth-child(6) .item::after {
  content: "pbr-24";
}
.paddingbottom .filas:nth-child(6) .item-1::after {
  content: "16px";
}
.paddingbottom .filas:nth-child(6) .item-2::after {
  content: "16px";
}
.paddingbottom .filas:nth-child(6) .item-3::after {
  content: "24px";
}
.paddingbottom .filas:nth-child(6) .item-4::after {
  content: "24px";
}

.paddingleft .filas:nth-child(1) .item::after {
  content: "pl-body";
}
.paddingleft .filas:nth-child(1) .item-1::after {
  content: "20px";
}
.paddingleft .filas:nth-child(1) .item-2::after {
  content: "20px";
}
.paddingleft .filas:nth-child(1) .item-3::after {
  content: "40px";
}
.paddingleft .filas:nth-child(1) .item-4::after {
  content: "40px";
}

.paddingright .filas:nth-child(1) .item::after {
  content: "pr-body";
}
.paddingright .filas:nth-child(1) .item-1::after {
  content: "20px";
}
.paddingright .filas:nth-child(1) .item-2::after {
  content: "20px";
}
.paddingright .filas:nth-child(1) .item-3::after {
  content: "40px";
}
.paddingright .filas:nth-child(1) .item-4::after {
  content: "40px";
}

.font-family-a::after {
  content: "arial, sans-serif";
  position: relative;
}

.font-family-b::after {
  content: '"arial black", sans-serif';
  position: relative;
}

.font-family-c::after {
  content: '"ms-serif", serif';
  position: relative;
}

.mini-site-main {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .mini-site-main {
    padding-left: 200px;
  }
}

.is-rtl .mini-site-main {
  padding-right: 200px;
  padding-left: 20px;
}

.tag-color-wrap {
  column-gap: 16px;
}
.tag-color-wrap .wrap-item {
  position: relative;
  display: flex;
  width: 100%;
  color: #969696;
  border-bottom: 1px solid #e2e1e1;
  align-content: center;
  align-items: center;
}
.tag-color-wrap .wrap-item .color-class {
  padding-inline: 16px;
}
.tag-color-wrap .wrap-item::after {
  position: absolute;
  margin-top: -50px;
  bottom: 10px;
  font-size: 12px;
  left: 16px;
}
.tag-color-wrap .wrap-item .item {
  height: 40px;
  width: 100px;
  margin: 0;
  position: relative;
}
.tag-color-wrap .wrap-item .item::after {
  font-size: 12px;
  position: absolute;
  margin-top: -20px;
  width: 100%;
}

.site-menu-mobile {
  transition: transform 0.2s ease-in-out;
  background-color: #000;
  position: fixed;
  overflow: auto;
  height: 100vh;
  width: 200px;
  z-index: 1000;
  transform: translateX(-200px);
}
.site-menu-mobile .list-clear {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.site-menu-mobile a {
  float: left;
}

pre[class*=language-] {
  margin: 20px 0;
}

.mini-box span {
  font-family: arial, sans-serif;
  font-weight: 900;
  display: block;
  font-size: 14px;
}

.filas {
  line-height: 2;
}

.item {
  white-space: nowrap;
}

.bg-docs {
  background: #fafafa;
}

.grid-6-docs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0;
}
.grid-6-docs div:nth-child(6n+3),
.grid-6-docs div:nth-child(6n+4) {
  background-color: #eaeaea;
}
.grid-6-docs div {
  border-bottom: 1px solid #f6f6f6;
  padding: 6px;
}
.grid-6-docs div:nth-child(6n+1),
.grid-6-docs div:nth-child(6n+3),
.grid-6-docs div:nth-child(6n+5) {
  font-size: 14px;
  font-weight: bold;
}

.grid-7-docs {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid-2-docs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0;
}
.grid-2-docs div {
  border-bottom: 1px solid #f6f6f6;
  padding: 6px;
}
.grid-2-docs div:nth-child(6n+1),
.grid-2-docs div:nth-child(6n+3),
.grid-2-docs div:nth-child(6n+5) {
  font-size: 14px;
  font-weight: bold;
}

.grid-8-docs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.grid-8-docs:nth-child(even) {
  background-color: #f7f6f6;
}
.grid-8-docs:nth-child(odd) {
  background-color: #fff;
}

.grid-6-docs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.grid-6-docs:nth-child(even) {
  background-color: #f7f6f6;
}
.grid-6-docs:nth-child(odd) {
  background-color: #fff;
}

.grid-24-docs {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 16px;
  align-items: start;
}

.grid-9-docs {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-bottom: 1px dashed #d8d8d8;
  border-left: 1px dashed #d8d8d8;
  align-items: start;
}
.grid-9-docs div {
  padding: 10px;
  border-top: 1px dashed #d8d8d8;
  border-right: 1px dashed #d8d8d8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-88-docs {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-bottom: 1px dashed #d8d8d8;
  border-left: 1px dashed #d8d8d8;
  align-items: start;
}
.grid-88-docs div {
  padding: 10px;
  border-top: 1px dashed #d8d8d8;
  border-right: 1px dashed #d8d8d8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-4-docs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px dashed #d8d8d8;
  border-left: 1px dashed #d8d8d8;
  align-items: start;
}
.grid-4-docs > div {
  padding: 10px;
  border-top: 1px dashed #d8d8d8;
  border-right: 1px dashed #d8d8d8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-5-docs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.grid-5-docs:nth-child(even) {
  background-color: #f7f6f6;
}
.grid-5-docs:nth-child(odd) {
  background-color: #fff;
}

.g-16 {
  gap: 16px;
}

.guide .bold {
  font-weight: bold;
}

.tag-color-letter {
  font-size: 20px;
  font-weight: bold;
  padding-inline: 20px;
}

.text-color {
  font-weight: bold;
  font-size: 18px;
}

.guide table tbody tr {
  border: 1px solid #ffffff;
  border-bottom: 1px solid #eaeaea;
}
.guide section {
  padding-bottom: 20px;
}
.guide .element-code {
  width: 100%;
  max-width: 500px;
  min-height: 200px;
  margin: 20px auto;
}
.guide .title-zone {
  color: #000;
  margin-bottom: 20px;
  padding: 100px 0 10px;
}
.guide .site-main {
  position: relative;
  margin: 0 0 0 55px;
  padding: 0 8px;
}
@media (min-width: 1280px) {
  .guide .site-main {
    margin: 0 0 0 180px;
  }
}
.guide .mb-5 {
  margin-bottom: 5px;
}
.guide .menu-lateral ul.list-clear li {
  line-height: 1.2;
}
.guide .menu-lateral {
  padding-left: 10px;
}
.guide .guide-logo-menu img {
  padding-top: 20px;
}
.guide .guide-title {
  color: #878787;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
}
.guide .guide-text {
  text-align: center;
  width: 100%;
  color: #b7c1c8;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  padding: 10px 0;
  float: left;
}
.guide .guide-text span {
  width: 100%;
  clear: both;
  float: left;
}
.guide .menulateral {
  position: fixed;
  top: 62px;
  overflow: auto;
  height: calc(100vh - 62px);
  font-size: 10px;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  width: 180px;
  padding: 0 0 0 20px;
}
.guide .guide-hover {
  text-decoration: none;
  opacity: 0.6;
}
.guide table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  caption-side: bottom;
  text-align: left;
}
.guide table th:nth-child(1) {
  width: 150px;
}
.guide table thead tr th,
.guide table thead tr td,
.guide table tbody tr th,
.guide table tbody tr td,
.guide table tfoot tr th,
.guide table tfoot tr td {
  height: 65px;
  padding-inline: 10px;
  vertical-align: middle;
}
.guide table thead tr th p:last-child,
.guide table thead tr td p:last-child,
.guide table tbody tr th p:last-child,
.guide table tbody tr td p:last-child,
.guide table tfoot tr th p:last-child,
.guide table tfoot tr td p:last-child {
  margin-bottom: 0;
}
.guide table td:first-child > code {
  white-space: nowrap;
}
.guide table thead {
  background-color: #363636;
  color: #fff;
}
.guide table td:first-child {
  color: #363636 !important;
}
.guide code {
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  color: #6759bb;
}
.guide pre > code {
  background-color: transparent;
}
.guide a {
  text-decoration: none;
}
.guide .item-w {
  width: 40px;
  height: 40px;
  padding: 4px;
  border: 1px solid black;
}
.guide .item-i {
  min-width: 20%;
  min-height: 20%;
  display: block;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.guide .item-i:nth-child(1) {
  background-color: #363636;
  opacity: 0.93;
}
.guide .item-i:nth-child(2) {
  background-color: #363636;
  opacity: 0.83;
}
.guide .item-i:nth-child(3) {
  background-color: #363636;
  opacity: 0.79;
}
.guide .item-i:nth-child(4) {
  background-color: #363636;
  opacity: 0.72;
}
.guide .item-i:nth-child(5) {
  background-color: #363636;
  opacity: 0.65;
}
.guide .item-i:nth-child(6) {
  background-color: #363636;
  opacity: 0.58;
}
.guide .item-i:nth-child(7) {
  background-color: #363636;
  opacity: 0.51;
}
.guide .item-i:nth-child(8) {
  background-color: #363636;
  opacity: 0.44;
}
.guide .item-i:nth-child(9) {
  background-color: #363636;
  opacity: 0.37;
}
.guide .item-i:nth-child(10) {
  background-color: #363636;
  opacity: 0.3;
}
.guide .box-demo,
.guide .box-demo2 {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #fff;
}
.guide .box-demo-inner {
  height: 200px;
  border: 1px solid #fff;
  background-color: #363636;
  opacity: 0.6;
  padding-top: 100px;
  text-align: center;
  color: #fff;
}
.guide .box-demo:nth-child(1) {
  background-color: rgba(0, 191, 203, 0.2);
}
.guide .box-demo:nth-child(2) {
  background-color: rgba(0, 191, 203, 0.2);
}
.guide .box-demo:nth-child(3) {
  background-color: rgba(0, 191, 203, 0.2);
}
.guide .box-demo2:nth-child(1) {
  background-color: rgba(255, 33, 33, 0.2);
}
.guide .box-demo2:nth-child(2) {
  background-color: rgba(255, 33, 33, 0.2);
}
.guide .box-demo2:nth-child(3) {
  background-color: rgba(255, 33, 33, 0.2);
}
.guide .box-demo .col {
  background-color: rgba(0, 191, 203, 0.6);
  border: 1px solid #fff;
}
.guide .flexbox-map .h3 {
  min-height: 50px;
  background-color: rgba(33, 255, 214, 0.33);
  padding: 20px;
}
.guide .box-info {
  padding: 20px;
  border: 1px solid gray;
  font-style: italic;
  opacity: 0.5;
}
.guide .guide-icon-top {
  display: inline-block;
}
.guide .mini-box {
  background: #eaeaea;
  width: 100px;
  color: #757171;
  font-size: 10px;
  float: left;
  margin: 11px;
}

.black-60 {
  color: rgba(0, 0, 0, 0.6);
}

table.c-middle-grey td:first-child {
  height: 101%;
  width: 100px;
  overflow: hidden; /* Esconde el contenido que exceda el ancho */
  white-space: nowrap; /* Previene que el texto se rompa en varias líneas */
  text-overflow: ellipsis; /* Opcional: muestra puntos suspensivos si el texto es demasiado largo */
}

.site-menu-btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  cursor: pointer;
  padding: 22px;
}
.site-menu-btn:hover {
  opacity: 0.6;
}
.site-menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 8px;
  background-color: #000;
}

.has-menu-mobile .site-menu-mobile {
  transform: translateX(0);
}

/*# sourceMappingURL=docs.css.map */
