@import '../abstract/_all';

.ar-3-4 {
  aspect-ratio: 3 / 4;
}
.ar-3-2 {
  aspect-ratio: 3 / 2;
}
.ar-16-9 {
  aspect-ratio: 16 / 9;
}
.ar-9-16 {
  aspect-ratio: 9 / 16;
}
.ar-1-1 {
  aspect-ratio: 1 / 1;
}
.ar-20-9 {
  aspect-ratio: 20 / 9;
}
