/* prettier-ignore */
$espaciados: ( 0, 2, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80, 96, 112, 120, 128, 160 );
$c-white: #fff !default;
$c-black: #000 !default;

$c-light-grey: #f0f0f0 !default;
$c-middle-grey: #a9a9a9 !default;
$c-dark-grey: #666666 !default;

$c-primary-3: rgba(0, 0, 0, 0.3);
$c-primary-15: rgba(0, 0, 0, 0.15);
$c-primary-30: rgba(0, 0, 0, 0.3);
$c-primary-60: rgba(0, 0, 0, 0.6);
$c-primary-97: rgba(0, 0, 0, 0.97);

$c-secondary-3: rgba(255, 255, 255, 0.3);
$c-secondary-15: rgba(255, 255, 255, 0.15);
$c-secondary-30: rgba(255, 255, 255, 0.3);
$c-secondary-60: rgba(255, 255, 255, 0.6);
$c-secondary-97: rgba(255, 255, 255, 0.97);

/* functional */
$c-primary: #000 !default;
$c-secondary: #000 !default;
$c-accent: #ed0f2b !default;
$c-error: #ed0f2b !default;
$c-sale: #ffce4e !default;
$c-info: #1a32a4 !default;
$c-valid: #12882c !default;
$c-warning: #ffce4e !default;
$c-notice: #e5740b !default;
$c-orange: #e5740b !default;

$c-limited: #000 !default;
$c-success: #12882c !default;
$c-alert: #ffce4e !default;
$c-facebook: #1977f3 !default;
$c-google: #4285f4 !default;
$c-naver: #03cf5d !default;
$c-wechat: #2dc100 !default;
$bg-light: #f0f0f0 !default;
$bg-dark: #000 !default;
$bg-black: #000 !default;
$c-bg-light: #000 !default;
$c-bg-dark: #fff !default;
$white-smoke: #f0f0f0 !default;
$primary: #000000 !default;
$primary-guide: #363636 !default;
$secondary-guide: #6759bb !default;
$ternary-guide: #6759bb !default;
$list-disc-color: #1a1a1a !default;

$btn-radius: 0 !default;
$obj-radius: 0 !default;
$form-radius: 0 !default;

$btn-line-height: 1 !default;
$btn-padding: 12px !default;
$btn-text-mini: 12px !default;
$btn-text-small: 12px !default;
$btn-text-medium: 12px !default;
$btn-text-large: 12px !default;
$btn-text-xlarge: 12px !default;
$btn-text-full: 12px !default;
$btn-text-r: 12px !default;
$btn-text-m: 12px !default;
$tabs-text: 12px !default;
$font-weight-secondary-light: 300 !default;
$font-weight-secondary-medium: 400 !default;
$font-weight-secondary-bold: 700 !default;
$totalCols: 12 !default;
$totalColsXl: 24 !default;
$padding-global: 8px !default;
$padding-mobile: 24px !default;
$padding-desktop: 40px !default;
$padding-button: 8px !default;
$height-inputs: 40px !default;
$height-btn: 40px !default;
$text-input-m: 12px !default;
$text-input-d: 12px !default;

$container: 800px !default;
$container-2: 700px !default;
$container-3: 900px !default;
$container-4: 360px !default;
$container-5: 800px !default;
$container-6: 442px !default;

$container-full: 1500px !default;

$transition: 278ms !default;
$min-width: 320px !default;
$min-vw: 320px !default;
$max-vw: 1500px !default;
$svg-size: 16px;
$tooltip-padding: 8px;

$fs: 'font-size';
$lh: 'line-height';
$pr: 'padding-right';
$text-sm: 12px;
$text-md: 14px;

$colors: (
  c-primary: #000,
  c-black: #000,
  c-dark-grey: #333333,
  c-middle-grey: #777777,
  c-light-grey: #cccccc,
  c-white: #ffffff,
  c-secondary: #666666,
  c-accent: #ed0f2b,
  c-error: #ed0f2b,
  c-sale: #ffce4e,
  c-info: #1a32a4,
  c-success: #12882c,
  c-valid: #12882c,
  c-warning: #ffa500,
  c-notice: #42aaff,
  c-alert: #ff4444
);

/* prettier-ignore */
$minheaders: (
  p1: ( 8px, 10px, 1.3, 'regular' ), 
  p2: ( 18px, 24px, 1.2, 'bold' ), 
  p3: ( 12px, 12px, 1.4, 'regular' ), 
  p4: ( 12px, 12px, 1.4, 'light' ), 
  h1: ( 12px, 12px, 1.4, 'medium' ), 
  h2: ( 11px, 11px, 1.4, 'regular' ), 
  h3: ( 10px, 10px, 1.4, 'regular' ),
  h4: ( 12px, 12px, 1.5, 'regular' ), 

) !default;

/* prettier-ignore */
$headersFluids: (
  3: ( 20px, 30px, 0.9 ), 
  2: ( 40px, 100px, 0.9 ), 
  1: ( 60px, 160px, 0.8 )
) !default;

/* prettier-ignore */
$margin-top: (
  mtr-128: ( 64px, 128px, 128px, 128px )
) !default;

/* prettier-ignore */
$margin-bottom: (
  mbr-88: ( 16px, 24px, 24px, 24px ), 
  mbr-32: ( 16px, 32px, 32px, 32px ), 
  mbr-64: ( 32px, 64px, 64px, 64px ), 
  mbr-128: ( 64px, 128px, 128px, 128px ),
  mbr-20-40: ( 20px, 40px, 40px, 40px ), 
  mbr-16-32: ( 16px, 16px, 32px, 32px ),
  mbr-8-24: ( 8px, 8px, 24px, 24px )
) !default;

/* prettier-ignore */
$padding: (
  p-body: ( 20px, 20px, 40px, 40px )
) !default;

/* prettier-ignore */
$padding-top: (
  ptr-120: ( 64px, 64px, 120px, 120px ),
  ptr-128: ( 64px, 64px, 128px, 128px ), 
  ptr-160: ( 64px, 64px, 160px, 160px ), 
  ptr-136: ( 48px, 48px, 136px, 136px ), 
  ptr-20-120: ( 20px, 20px, 120px, 120px ), 
  ptr-112: ( 80px, 80px, 112px, 112px ), 
  ptr-80: ( 48px, 48px, 80px, 80px ),
  ptr-64: ( 32px, 32px, 64px, 64px ), 
  ptr-24: ( 16px, 16px, 24px, 24px )
) !default;

/* prettier-ignore */
$padding-bottom: (
  pbr-136: ( 64px, 64px, 136px, 136px ), 
  pbr-128: ( 64px, 64px, 128px, 128px ),
  pbr-120: ( 64px, 64px, 120px, 120px ), 
  pbr-112: ( 80px, 80px, 112px, 112px ), 
  pbr-96: ( 64px, 64px, 96px, 96px ),
  pbr-24: ( 16px, 16px, 24px, 24px )
) !default;

/* prettier-ignore */
$padding-left: (
  pl-body: ( 20px, 20px, 40px, 40px )
) !default;

/* prettier-ignore */
$padding-right: (
  pr-body: ( 20px, 20px, 40px, 40px )
) !default;
